body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.calculator {
    background-color: #424242;
    padding: 50px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
}

#display {
    width: 100%;
    height: 100px;
    font-size: 36px;
    text-align: left;
    padding-left: 10px;
    border: 5px solid #000000;
    border-radius: 8px;
}

#display:disabled {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

table {
    width: 100%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 2px solid black ;
    border-radius: 8px;
    margin: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #7f7f7f;
}

td {
    padding: 5px;
}
